---
import Form from "./Form.svelte";

const { title, copy } = Astro.props;
---

<section class="called py-80">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            <div>
                <h2 class="mb-5">{title}</h2>
                <p class="text-white">{copy}</p>
            </div>
            <div> 
                <Form />
            </div>
        </div>
        
    </div>
</section>

<style>
    .called {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt77f4425de611b362/blt2d415bbfe83002d7/611583c8d0cc2720527162d3/Stone-Relief-BG_Desktop_2600.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .called h2 {
        color: var(--text-first-color);
        font-size: var(--title-size);
        text-shadow: 0px 3px 6px #000000;
    }

    .called p {
        color: #CCCCCC;
        text-shadow: 0px 3px 6px #000000;
        font-size: var(--copy-size);
    }
</style>