---
import blizzard_logo from '../assets/img/blizzard-logo.png';
---

<footer class="footer">
    <img src="https://blz-contentstack-images.akamaized.net/v3/assets/blt77f4425de611b362/bltd90501272a3e9db1/6166074c518fba500628a1d5/stone-divider-btm-max.jpg?auto=webp" alt="">
    <div class="container py-10 mx-auto">
        <img src={blizzard_logo} alt="blizzard logo" class="mx-auto">
        <p class="text-second-color text-legals text-center mt-5">
            ©2022 Blizzard Entertainment, Inc. Todos los derechos reservados. 
        </p>
    </div>
    <img src="https://blz-contentstack-images.akamaized.net/v3/assets/blt77f4425de611b362/bltd90501272a3e9db1/6166074c518fba500628a1d5/stone-divider-btm-max.jpg?auto=webp" alt="">
</footer>
