---
const { title, copy, cta_link, cta_copy } = Astro.props;
---

<section class="hero bg-fixed pt-20">
    <div class="container mx-auto pt-10">
        <div class="flex flex-col justify-content items-center pt-56 pb-40 mt-40">
            <p class="hero-copy text-first-color text-copy-lg" id="hero-copy">{copy}</p>
            <h1 class="mb-5 text-center hero-title text-title-sm md:text-title-md lg:text-title-lg text-first-color font-old-fenris font-extrabold uppercase" id="hero-title">{title}</h1>
            <a href={cta_link} class="register drop-shadow-lg text-first-color text-copy-lg" id="hero-cta">{cta_copy}</a>
        </div>
    </div>
    <img src="./assets/img/divider.png" alt="divider" class="mt-20">
</section>

<style>
    .hero {
        background-image: url('https://images5.alphacoders.com/112/1126803.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-title, .hero-copy{
        text-shadow: 0px 3px 6px #000000;
    }

    .register {
        background-color: #56191D;
        width: 200px;
        padding: 20px;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition-duration: .4s;
    }

    .register:hover {
        background-color: #7d0009;
    }
</style>