---
import Scene from "./Scene.astro";

const { title, copy, scenes } = Astro.props;
---

<section class="world py-10 lg:py-36 px-5 md:px-0">
    <div class="container mx-auto">
        <h2 class="font-old-fenris text-subtitle-sm md:text-subtitle-md lg:text-subtitle-lg text-first-color text-center uppercase font-extrabold mb-10">{title}</h2>
        <p class="text-first-color text-copy-sm md:text-copy-md text-center">{copy}</p>
        <div class="grid grid-cols-2 gap-4 lg:grid-cols-4 mt-10 lg:mt-20">
            {
                scenes.map(scene => (
                    <Scene 
                        img={scene.scene}
                    />
                ))
            }
        </div>
    </div>
</section>

<style>
    .world {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt77f4425de611b362/blt2d415bbfe83002d7/611583c8d0cc2720527162d3/Stone-Relief-BG_Desktop_2600.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>