---
const { title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="./assets/img/favicon.png" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="content">
		<slot />
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="../animations/main.js"></script>
		<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
	@font-face {
	font-family: "Old Fenris";
	src: url("../assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff2"),
		url("../assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff");
	}
	:root {
		--background-first-color: #000000;
		--background-second-color: #ffd803;
		--background-third-color: #272343;
		--text-first-color: #D2C8AE;
		--text-second-color: #272343;
		--text-third-color: #ffd803;		
		--font-family: 'Rajdhani', sans-serif;
		--title-font-family: 'Old Fenris', cursive;
		--title-size: 50px;
		--subtitle-size: 30px;
		--copy-size: 20px;
	}
	
	body {
		background-color: var(--background-first-color);
		font-family: var(--font-family);
	}

	h1 {
		font-weight: 700;
		font-size: var(--title-size);
		line-height: 65px;
		font-family: var(--title-font-family);
		text-transform: uppercase;
	}

	h2 {
		font-weight: 700;
		font-size: var(--subtitle-size);
		line-height: 35px;
		font-family: var(--title-font-family);
		text-transform: uppercase;
	}

	p {
		font-size: var(--copy-size);
	}
</style>
