---
const { title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="./assets/img/favicon.png" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="content" class="font-rajdhani bg-black">
		<slot />
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="../animations/main.js"></script>
		<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
	@font-face {
	font-family: "Old Fenris";
	src: url("../assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff2"),
		url("../assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff");
	}
	html {
		scroll-behavior: smooth;
	}

	@media screen (max-width: 1280px) {
		h1 {
			font-size: 100px !important;
		}
	}
</style>
